<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:cache="http//www.springframework.org/schema/cache"
	xsi:schemaLocation="
			http://www.springframework.org/schema/aop
			http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
			http://www.springframework.org/schema/beans
		    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-4.0.xsd
			http://www.springframework.org/schema/jee 
			http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
			http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
			http://www.springframework.org/schema/cache
			http://www.springframework.org/schema/cache/spring-cache-4.0.xsd">
			
	<!-- 阿里巴巴 Druid -->
   	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		
  		<property name="url" value="jdbc:mysql://127.0.0.1:3306/tour?Unicode=true&amp;characterEncoding=UTF-8&amp;allowMultiQueries=true" />
	    <property name="username" value="root" />
	    <property name="password" value="root" />  
	    
	    
		<!-- <property name="filters" value="stat,wall"/>-->
		
		<property name="maxActive" value="100"/>
        <property name="minIdle" value="50"/>
        <property name="initialSize" value="10"/>
		<property name="testWhileIdle" value="true"/>
		<property name="validationQuery" value="SELECT 'x'"/>
		<property name="timeBetweenEvictionRunsMillis" value="8000"/>
		
	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis_cfg.xml" />
		<property name="mapperLocations" value="classpath:com/manage/dao/mapper/**/*.xml"/>
		<property name="typeAliasesPackage" value="com.manage.model"/>
	</bean>
	
	<!-- mybatis SqlTemplate -->
	<bean id="sqlTemplate" class="org.mybatis.spring.SqlSessionTemplate" scope="prototype">
	 	<constructor-arg index="0" ref="sqlSessionFactory"/>
	</bean>

</beans>